body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh ;
    margin:0 ;
    background-color: #f4f4f4;
}

.quiz-container{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

#choice{
    margin-top: 10px;
}

button{
    background: #007bff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;

}
button:hover{
    background: #0056b3;
}

#result{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}